{% extends "header.html" %}

{% block content %}
<div class="container-fluid text-center lists-container col-lg-6 col-md-6 col-auto">
    <h2>To-Do List: {{ list.name }}</h2>
    <h3>Click to Edit a To-Do Task!</h3>
    {% for list_item in list.list_items %}
    <ul class="list-group list-group-horizontal justify-content-center text-left col-lg-6 mx-auto">
        {% if list_item.complete %}
        <a href="{{ url_for('edit_list_item', list_item_id=list_item.id) }}"
            class="list-group-item list-group-item-action col-auto disabled">
            <s>{{ list_item.body }}</s>
        </a>
        {% else %}
        <a href="{{ url_for('edit_list_item', list_item_id=list_item.id) }}"
            class="list-group-item list-group-item-action col-auto">
            {{ list_item.body }}
        </a>
        {% endif %}

        {% if list_item.complete %}
        <a href="{{ url_for('mark_list_item_incomplete', list_item_id=list_item.id) }}"
            class="list-group-item list-group-item-action list-group-item-warning">↪️</a>
        {% else %}
        <a href="{{ url_for('mark_list_item_complete', list_item_id=list_item.id) }}"
            class="list-group-item list-group-item-action list-group-item-success">✅</a>
        {% endif %}
        <a href="{{ url_for('delete_list_item', list_item_id=list_item.id) }}"
            class="list-group-item list-group-item-action list-group-item-danger">🗑️</a>
    </ul>
    {% endfor %}

    <a class="btn btn-success new-list-btn" href="{{ url_for('create_new_list_item', list_id=list.id) }}">
        Add a New Task</a>
    <br>
    <a class="btn btn-info new-list-btn" href="{{ url_for('edit_list', list_id=list.id) }}">Edit To-Do List</a>
    <br>
    <a class="btn btn-danger new-list-btn" href="{{ url_for('delete_list', list_id=list.id) }}">Delete Entire List</a>

</div>
{% endblock %}