{% extends "header.html" %}

{% block content %}
<div class="container text-center lists-container">
    <h2>Hello, {{ current_user.name }}, welcome to your list!</h2>
    <ul class="list-group col-md-6 mx-auto align-items-center">
        {% for list in lists %}
        {% if list.complete %}
        <a href="{{ url_for('list_details', list_id=list.id) }}"
            class="list-group-item list-group-item-light list-group-item-action align-items-center">
            <div class="d-flex justify-content-between w-100">
                <s>{{ list.name }}</s>
                <span class="badge badge-primary badge-pill m-1">{{ list.list_items | length }}</span>
            </div>
            <div class="text-left">
                <small class="">{{ list.date }}</small>
            </div>
        </a>
        {% else %}
        <a href="{{ url_for('list_details', list_id=list.id) }}"
            class="list-group-item list-group-item-light list-group-item-action align-items-center">
            <div class="d-flex justify-content-between w-100">
                {{ list.name }}
                <span class="badge badge-primary badge-pill m-1">{{ list.list_items | length }}</span>
            </div>
            <div class="text-left">
                <small class="">{{ list.date }}</small>
            </div>
        </a>
        {% endif %}
        {% endfor %}
    </ul>
    <a class="btn btn-success new-list-btn mx-auto" href="{{ url_for('create_new_list') }}">Create a New List</a>
</div>
{% endblock %}